<h1>Page de liste d'étiquettes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Nombre de tâches</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= label.tasks.count %></td>
        <td><%= link_to t('common.edit'), edit_label_path(label), class: "edit-label btn btn-primary" %></td>
        <td><%= link_to t('common.destroy'), label, method: :delete, data: { confirm: t('common.confirm_destroy') }, class: "destroy-label btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>